.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .search-box input {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .search-box select {
    padding: 10px;
    font-size: 16px;
  }
  
  @media (max-width: 600px) {
    .search-box {
      flex-direction: column;
    }
  
    .search-box input, .search-box select {
      margin-bottom: 10px;
      width: 100%;
    }
  }
  